@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000550;
  color: white;
  margin: auto;
  font-family: rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  background-color: #00000000;
}
